[submodule "Tri2Quad-Geometry-Aware-Triangle-to-Quad-Mesh-Conversion-Operator"]
	path = Tri2Quad-Geometry-Aware-Triangle-to-Quad-Mesh-Conversion-Operator
	url = https://github.com/Graphic-Kiliani/Tri2Quad-Geometry-Aware-Triangle-to-Quad-Mesh-Conversion-Operator
